:root {
  --primary: #1a1a1a;
  --secondary: #2b2b2b;
  --tertiary: #3c3c3c;
}

nav{
  background-color: #1a1a1a;
  color: var(--secondary);

  & ul{
    background-color: var(--primary);
    color: var(--secondary);
  }
  
}